<div id="morphsearch" class="morphsearch" ng-controller="PokemonSearch">
	<div class="container morphContainer">
		<div class="searchContainer">
			<form class="morphsearch-form">
				<input class="morphsearch-input" type="search" ng-model="searchString" placeholder="Search..."/>
				
			</form>
			<div class="morphsearch-content">
				<div class="dummy-column">
					<h2>Starting with</h2>
					<li class="dummy-media-object" ng-click="saveAndReload(pokemon)" ng-repeat="pokemon in pokemons | pokemonFilterStart:searchString">
						<a href="">
							<img src="{{getImageUrl(pokemon)}}" alt="{{pokemon}}"/>
							<h3 class="inline">{{up(pokemon)}}</h3>
							<h1 class="inline pokemonSearchId">{{getPokemonId(pokemon)}}</h1>
						</a>
					</li>
				</div>
				<div class="dummy-column">
					<h2>Results</h2>
					<li class="dummy-media-object" ng-click="saveAndReload(pokemon)" ng-repeat="pokemon in pokemons | pokemonFilter:searchString">
						<a href="">
							<img src="{{getImageUrl(pokemon)}}" alt="{{pokemon}}"/>
							<h3>{{up(pokemon)}}</h3>
							<h1 class="inline pokemonSearchId">{{getPokemonId(pokemon)}}</h1>
						</a>
					</li>
				</div>
				<div class="dummy-column">
					<h2>Recent</h2>
					<li class="dummy-media-object" ng-click="saveAndReload(pokemon)" ng-repeat="pokemon in recents track by $index">
						<a href="">
							<img src="{{getImageUrl(pokemon)}}" alt="{{pokemon}}"/>
							<h3>{{up(pokemon)}}</h3>
							<h1 class="inline pokemonSearchId">{{getPokemonId(pokemon)}}</h1>
						</a>
					</li>
				</div>
			</div><!-- /morphsearch-content -->
			<div class="shortcuts">
				<div class="padded verticalPadded centerHorizontally"><kbd>F</kbd>Find a Pokémon</div>
				<div class="padded verticalPadded centerHorizontally"><kbd>Tab</kbd>Moves between search elements</div>
				<div class="padded verticalPadded centerHorizontally"><kbd>Esc</kbd>Exit the search</div>
				<div class="padded verticalPadded centerHorizontally"><kbd>R</kbd>Random Pokémon</div>
				<div class="padded verticalPadded centerHorizontally"><bold>@</bold>Powered by <a href="https://github.com/PokeAPI/pokeapi">Pokéapi</a></div>
			</div>
			<span class="morphsearch-close"></span>
		</div>
	</div>
</div><!-- /morphsearch -->
<div class="overlay"></div>