<div id="morphsearch" class="morphsearch" ng-controller="PokemonSearch">
	<form class="morphsearch-form">
		<input class="morphsearch-input" type="search" ng-model="searchString" placeholder="Search..."/>
		
	</form>
	<div class="morphsearch-content">
		<div class="dummy-column">
			<h2>Starting with</h2>
			<li class="dummy-media-object" ng-click="saveAndReload(pokemon)" ng-repeat="pokemon in pokemons | pokemonFilterStart:searchString">
				<a href="">
					<img src="{{getImageUrl(pokemon)}}" alt="{{pokemon}}"/>
					<h3 class="inline">{{up(pokemon)}}</h3>
					<h1 class="inline pokemonSearchId">{{getPokemonId(pokemon)}}</h1>
				</a>
			</li>
		</div>
		<div class="dummy-column">
			<h2>Results</h2>
			<li class="dummy-media-object" ng-click="saveAndReload(pokemon)" ng-repeat="pokemon in pokemons | pokemonFilter:searchString">
				<a href="">
					<img src="{{getImageUrl(pokemon)}}" alt="{{pokemon}}"/>
					<h3>{{up(pokemon)}}</h3>
					<h1 class="inline pokemonSearchId">{{getPokemonId(pokemon)}}</h1>
				</a>
			</li>
		</div>
		<div class="dummy-column">
			<h2>Recent</h2>
			<li class="dummy-media-object" ng-click="saveAndReload(pokemon)" ng-repeat="pokemon in recents track by $index">
				<a href="">
					<img src="{{getImageUrl(pokemon)}}" alt="{{pokemon}}"/>
					<h3>{{up(pokemon)}}</h3>
					<h1 class="inline pokemonSearchId">{{getPokemonId(pokemon)}}</h1>
				</a>
			</li>
		</div>
	</div><!-- /morphsearch-content -->
	<span class="morphsearch-close"></span>
</div><!-- /morphsearch -->
<div class="overlay"></div>