.trashCan {
    zoom: 0.6;
}
.wrapper{
    position: relative;
    cursor: pointer;
}
.lid{
    position: relative;
    top: 2px;
    width: 24px;
    height: 6px;
    border: solid 2px rgb(100,100,100);
    transition: all .2s ease-in-out;
    transform-origin: left;
    transform: rotate(0deg) translateY(0px);
}
.lid:before,
.lid:after{
    content: '';
    position: absolute;
}
.lid:before{
    width: 10px;
    height: 5px;
    top: -5px;
    left: 5px;
    background: rgb(100,100,100);
}
.lid:after{
    width: 6px;
    height: 4px;
    top: -3px;
    left: 7px;
}
.can{
    position: relative;
    left: 2px;
    width: 20px;
    height: 20px;
    border: solid 2px rgb(100,100,100);
    border-radius: 0 0 3px 3px;
}
.can:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    box-shadow: 4px 5px 0px 1px rgb(100,100,100),
        4px 7px 0px 1px rgb(100,100,100),
        4px 9px 0px 1px rgb(100,100,100),
        4px 11px 0px 1px rgb(100,100,100),
        4px 13px 0px 1px rgb(100,100,100),
        8px 5px 0px 1px rgb(100,100,100),
        8px 7px 0px 1px rgb(100,100,100),
        8px 9px 0px 1px rgb(100,100,100),
        8px 11px 0px 1px rgb(100,100,100),
        8px 13px 0px 1px rgb(100,100,100),
        12px 5px 0px 1px rgb(100,100,100),
        12px 7px 0px 1px rgb(100,100,100),
        12px 9px 0px 1px rgb(100,100,100),
        12px 11px 0px 1px rgb(100,100,100),
        12px 13px 0px 1px rgb(100,100,100);
}
.wrapper:hover .lid{
    transform: rotate(-30deg) translateY(-2px);
}
