html, body {
	overflow-x: hidden;
	font-size: 16px;
}

.container {
	height: initial;
	min-height: initial;
}

.innerContainer, .secondaryContainer, .pokemonTypesContainer {
	flex-direction: column;
}

.innerContainer {
	padding-top: 50px;
}

.secondaryContainer, .pokemonVCard {
	align-items: center;
}

.mediumSize {
	margin-top: 70px;
}

.pokemonHeight, .pokemonWeight, .mediumSize, .pokemonHabitat, .multiplierRow, .pokemonDescription, .pokemonHeldItems > ul, .pokemonAbilities > ul {
	text-align: center;
}

.pokemonDescription {
	margin: 0 auto;
}

.pokemonStats, .pokemonDescription, .pokemonFamily {
	max-width: 80%;
}

.morphsearch.open .morphsearch-form {
	height: 70px;
}

.jp {
	width: initial;
	font-size: 200%;
	top: 10%;
	opacity: .7;
}