.onoffswitch {
    position: relative; width: 108px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    vertical-align: sub;
    margin-left: 10px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 27px; padding: 0; line-height: 27px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Attack";
    padding-left: 10px; 
}
.onoffswitch-inner:after {
    content: "Defense";
    padding-right: 10px;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 31px; 
    height: 31px; 
    margin: 0px;
    position: absolute; top: 0; bottom: 0;
    right: 77px;
    border-radius: 50px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}